*.gds filter=lfs diff=lfs merge=lfs -text
def/*.def filter=lfs diff=lfs merge=lfs -text
verilog/gl/*.v filter=lfs diff=lfs merge=lfs -text
spef/**/*.spef filter=lfs diff=lfs merge=lfs -text
spef/*.spef filter=lfs diff=lfs merge=lfs -text
signoff/**/*.sdf filter=lfs diff=lfs merge=lfs -text
