# Four coefficient banks and two zeta banks. SRAM footprint is about 684 x 415 um.
u_engine.g_banks\[0\].u_ram.u_macro           150  150 N
u_engine.g_banks\[1\].u_ram.u_macro          1550  150 N
u_engine.u_zstore.g_zrams\[0\].u_ram.u_macro  150  975 N
u_engine.u_zstore.g_zrams\[1\].u_ram.u_macro 1550  975 N
u_engine.g_banks\[2\].u_ram.u_macro           150 1800 FS
u_engine.g_banks\[3\].u_ram.u_macro          1550 1800 FS
